
.icono-carro {
    position: relative;
}

.icono-carro-cant {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: red;
    right: 10%;
    top: 8%;
    border-radius: 50%;
    color: white;
    font-size: .7rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

