.cartconteiner {
  display: flex;
  width: 100%;
  justify-content:center;
  align-content: center;
}

.cartIzquierda{
    flex:7;
    border:1px solid
}

.cartDerecha{
    flex:3;
    border:1px solid;
    margin-left: 10px;
}
