.cartconteiner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.cartIzquierda {
  flex: 7;
}

.cartDerecha {
  flex: 3;
  border: 1px solid;
  margin-left: 10px;
  border-radius: 15px;
  height: 300px;
  width: 100%;
}

.cartDerecha p {
font: size 30px;
}

.cartItem {
  border: 1px solid;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
}

.cartItem img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cartItem p {
}

.cartDetalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
