.cartconteiner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.cartIzquierda {
  flex: 7;
}

.cartDerecha {
  flex: 3;
  border: 1px solid;
  margin-left: 10px;
  border-radius: 15px;
  width: 100%;
  font-size: 50px;
  height: 100px;
  color: red;
}

.cartItem {
  border: 1px solid;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 16px 1px #000000; 
  box-shadow: 5px 5px 16px 1px #000000;
}

.cartItem img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cartItem p {
}

.cartDetalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
